.content-table{
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1cm;
    width: 100%;
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border: 2px solid #0000;
}
.content-table th{
    margin: 20px 0;
    font-size: 0.9cm;
    min-width: 400px;
}
.tr1{
    background-color: rgb(255, 255, 255);
}
.tr2{
    background-color:rgb(77, 255, 195);
}